<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>30420360397-df1v1eb787vcpge8k5dhpdo3o60mib89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30420360397-df1v1eb787vcpge8k5dhpdo3o60mib89</string>
	<key>API_KEY</key>
	<string>AIzaSyD8wlhn9nR-jFQNHdjPTr_qv6fdcSww2LM</string>
	<key>GCM_SENDER_ID</key>
	<string>30420360397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LucasDachman.lab-5</string>
	<key>PROJECT_ID</key>
	<string>lab-5-77eaf</string>
	<key>STORAGE_BUCKET</key>
	<string>lab-5-77eaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30420360397:ios:bd01cf2d38f306af</string>
	<key>DATABASE_URL</key>
	<string>https://lab-5-77eaf.firebaseio.com</string>
</dict>
</plist>